@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 10 30px 10 30px; */
    background-color: white;
    padding: 10px 30px 10px 30px;
    transition: transform 0.2s;
}
.toggle-button{
    top: 2rem;
    position: absolute;
    width: 30px;
    height: 20px;
    display: none;
    left: 90%;
    flex-direction: column;
    justify-content: space-between;
}
.bar{
    height: 3px;
    width: 100%;
    background-color: black;
}
.nav ul li,.nav ul li a{
    display: inline-block;
    margin: 0 25;
    text-decoration: none;
    color: #555;
}
.contact{
    text-decoration: none;
    color: #555;
}
.contact::after{
    content: '';
    display: block;
    top: 100%;
    left: 50%;
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background-color: #43c1a8;
    visibility: hidden;
    transform: scale(0);
    transition: transform ease-out 200ms;
}
.contact:hover::after{
    transform: scale(1);
    visibility: visible;
}
.title{
    margin-left: -10vh;
    position: relative;
    transform-style: preserve-3d;
    z-index: -1;
}
.background{
    min-width: 1250px;
    height: 100%;
    z-index: -1;
    transform: translateZ(-10px) scale(2); 
    object-fit: cover;
}
.text{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%,-50%);
    color: white;
}
.text h3{
    font-size: 40;
}
.text p{
    margin-right: 35%;
    text-align: justify;
    font-size: 19;
}
.text a{
    text-decoration: none;
    color: white;
    background-color: #008000;
    padding: 15px 30px;
    border-radius: 30px;
}
.readme{
    margin-top: 70px;
}
.video{
    background-color: white;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 25px;
}
.video p{
    font-size: 20px;
    margin-bottom: 20px;
}
.video a{
    margin-left: 35px;
    background-image: linear-gradient(325deg, #5b467e 0, #3365a7 50%, #47cca6 100%);
    /* border-image: linear-gradient(325deg, #5b467e 0, #3365a7 50%, #47cca6 100%); */
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 20px;
}
.award{
    display: inline-block;
    background-color: #F9F6F6;
    /* margin-bottom: 20px; */
}
.awardtitle{
    text-align: center;
    padding: 30px;
}
.awardtitle h3{
    font-size: 40px;
    padding: 15px;
}
.awardtitle p{
    margin-top: 25px;
    font-size: 22px;
}
.awardlist{
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 20% 0 20%;
}
.awardhead{
    color: #404040;
}
.awardhead p{
    font-size: 25;
}
.awardec{
    font-size: 19;
    color: #888a8b;
}
.services-icon{
    position: relative;
    /* display: inline-block; */
    background-color: #e0e0e275;
    padding: 15px;
    
}
.grid{
    text-align: center;
    display: inline-block;
    align-items: center;
    background-color: white;
}
.awardhead{
    padding: 25px;
    font-size: 20px;
}
.awardec{
    padding: 25px;
}

.shape-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.shape{
    position: relative;
}
.judetitle{
    /* margin-top: 40px; */
    padding: 40px 0 30px 0;
    text-align: center;
}
.judetitle p{
    padding-top: 10px;
    font-size: 25;
    color: #888a8b;
}
.judetitle h3{
    font-size: 35;
}
.judge{
    background-color: #F9F6F6;
}
.space{
    /* margin-bottom: 30px; */
    background: #F9F6F6;
}
.judgelist{
    margin: 30px 18% 0 18%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 40px;
    column-gap: 20px;
}
.photo img{
    padding: 10px;
    width: 110px;
    border-radius: 50%;
}
.photo{
    background: radial-gradient(circle, rgba(0,20,65,1) 20%, rgba(0,15,30,1) 100%);
    display: flex;
    justify-content: center;
}
.gridlist{
    background-color:  white;
    text-align: center;
}
.gridlist h5{
    margin-top: 15px;
    font-size: 20;
}
.gridlist p{
    color: #888a8b;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 0 17px 0 17px;
}
.qna h2{
    font-size: 40;
    color: #404040;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}
.question{
    padding: 20px;
    font-size: 20;
    margin-left: 30%;
    margin-right: 20%;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}
.sponser{
    margin: 0 20% 0 20%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
.gridspp img{
    width: 30%;
    margin: 10px;
}
.spp{
    color: #545454;
    margin-top: 140px;
    padding: 20px;
    font-size: 20;
}
.wraper{
    scroll-behavior: smooth;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}
.foot{
    margin-top: 30px;
    background-color: #292b30;
}
.flogo{
    margin: 0 0 0 20%;
    padding: 6rem 0;
}
.detial{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 20% 0 20%;
}
.about ul li a{
    color: white;
    text-decoration: none;
    font-size: 20;
}
.about ul li{
    padding: 10px;
    list-style: none;
}
.location p,.location h3{
    padding: 10px;
    font-size: 20;
    color: white;
}
.location i{
    padding-right: 15px;
}
.location p a{
    text-decoration: none;
    color: white;
}
.copyright{
    text-align: center;
    color: white;
    font-size: 12;
    padding-top: 30px;
    padding-bottom: 100px;
}
/* .shape::after{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
} */
.top{
    position: fixed;
    display: block;
    line-height: 42px;
    z-index: 99999;
    top: 90%;
    left: 95%;
    background-color: #57e4c8;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.top:hover{
    background-color: #57e4c8;
}
.top i{
    position: absolute;
    left: 15px;
    top: 14px;
}
.shape:hover{
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transition: linear 300ms;
}
@media (max-width : 1249px){
    .title{
        margin-left: 0;
    }
    .text{
        padding: 0;
    }
    .text h3{
        margin: 0;
        font-size: 2em;
    }
    .text p{
        margin: 0;
        font-size: 1em;
    }
    .toggle-button{
        display: flex;
    }
    .toggle-button .bar{
        transition: all 300ms linear;
    }
    .nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .navlink{
        display: none;
        flex-direction: column;
    }
    .navlink ul {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .nav ul li a{
        padding: 15px;
    }
    .navlink{
        width: 100%;
    }
    .navlink ul li:hover{
        transition: all 250ms ease-in;
        background-color: rgb(224, 213, 213);
    }
    .khmerlogo{
        display: none;
    }
    .navlink.active{
        
        display: flex;
    }
    .toggle-button.active .bar:nth-child(2){
        opacity: 0;
    }
    .toggle-button.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .toggle-button.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .awardlist{
        margin: 0 5% 0 5%;
    }
    .judgelist{
        margin: 30px 5% 0 5%;
    }
    .question{
        margin-left: 5%;
        margin-right: 5%;
    }
    .video p{
        text-align: center;
    }
    .top{
        top: 90%;
        left: 85%;
    }
}