@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

*{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    font-family: 'Fredoka', sans-serif;
    display: inline-block;
    padding: 15;
    font-size: 20;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul{
    margin-top: 5px;
    margin-right: 50px;
}
i{
    font-size: 40;
    margin-left: 15;
    padding: 10;
}
body{
    /* overflow: hidden; */
    background-image: linear-gradient(to right,#EC8E8D,#5B1509);
}
.background{
    margin-left: -15%;
}
.text{
    margin-top: 10%;
    margin-left: 10%;
}
.title{
    font-family: 'Fredoka', sans-serif;
    font-size: 50;
    color: white;
}
.subtitle{
    margin-top: 15;
    font-family: 'Fredoka', sans-serif;
    font-size: 17;
    color: white;
}
.buttonwatch{
    display: inline-block;
    font-family: 'Fredoka', sans-serif;
    /* padding: 15; */
    vertical-align: 0.7rem;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn{
    padding: 20;
}
.wraper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    text-align: center;
    background-color:white;

}
.wraper p,.wraper h5{
    font-family: 'Fredoka', sans-serif;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 50px;
}
.button a{
    font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    background-color: #A85651;
    padding: 7 15;
    border-radius: 15px;
    color: white;
}
.up,.horn,.monitor{
    padding: 40px;
}
.wraperfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}
.logo{
    color: white;
    font-size: 15;
    font-family: 'Fredoka', sans-serif;
    display: inline-block;
    padding: 10;
}
.link{
    font-size: 15;

    font-family: 'Fredoka', sans-serif;
    display: inline-block;
}
.contact{
    font-size: 15;
    font-family: 'Fredoka', sans-serif;
    display: inline-block;
}
ul li{
    padding: 5;
    list-style: none;
    color: white;
}

.contact i{
    background-image: linear-gradient(to right,#EC8E8D,#5B1509);
    padding: 10;
    font-size: 20;
    margin-right: 10;
}
.link ul li{
    margin: 13;
}
.footer{
    background-image: linear-gradient(to right,#EC8E8D,#5B1509);
}