@font-face {
    font-family: 'Fredoka';
    src: url('Fredoka-Regular.ttf');
}
.fillform{
    -fx-background-color : transparent;
    -fx-border-width : 0 0 2px 0;
    -fx-border-color:#707070;
    -fx-font-family:"Fredoka";
    -fx-font-size:19;
}
.mainbtn{
    -fx-font-family: "Fredoka";
    -fx-border-width : 1px;
    -fx-border-radius : 10px;
    -fx-background-radius:10px;
    -fx-font-size:19;
    -fx-border-color : #707070;
}
.combo-box{
    -fx-border-width : 0 0 2px 0;
    -fx-border-color : #707070;
    -fx-background-color : transparent;
    -fx-font-size: 19
}
.textfield{
    -fx-font-family: "Fredoka";
    -fx-font-size:15;
}
.label{
    -fx-font-family: "Fredoka";
}
.button1{
    -fx-font-family:"Fredoka";
    -fx-font-size : 19;
}
.button1:hover{
    -fx-background-color : #3DD2E6;
    -fx-font-family:"Fredoka";
    -fx-background-color : linear-gradient(to top left, #B08BF6,#3DD2E6);
    /* -fx-font-size : 19; */
}
.loginbtn
{
    -fx-font-family: "Fredoka";
    -fx-font-size : 16;
    -fx-background-color : #000000;
}
.text{
    -fx-font-family: "Fredoka";
}
.button4
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}
.button4:hover
{
    -fx-background-color :linear-gradient(to top left, #D4CEE3, #41951C);
    -fx-background-radius :  30 30 30 30;
}
.button4:pressed
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}

/* .table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-font-size:15;
    -fx-background-color:   #2D75E8;
}
.table-view .column-header .label{
    -fx-font-size:15;
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
    -fx-font-size:15;
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;

 } */

.table-view{
    -fx-background-color:  #ECEDF6;
    -fx-text-fill:white;
    -fx-background-radius: 15px 15px 0 0;
    -fx-font-size:19;
}
.table-view .column-header-background{
    -fx-background-color:#0091FF;
    -fx-padding : 15 0 15 0;
    -fx-background-radius: 15px 15px 0 0;
}
.table-view .column-header, .table-view .filler{
    -fx-size : 30;
    -fx-background-color:transparent;
}
.table-view .column-header .label{
    -fx-text-fill:white;
}

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(  #2D75E8,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}
.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
}